.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                       supported by Chrome and Opera */
}

body {
	/* New Theme */
	background-color: #fafafa;
	/* background-color: rgb(10,10,10); */
}

p {
	font-family: Verdana, sans-serif;
	font-size: 17px;
	text-align: left;
	transition: all .7s;
}

form {
	font-size: 17px;
	margin: 10px;
	text-align: right;
	font-family: Verdana, sans-serif;
	padding:13px;

	transition: all .7s;
}

input.textInput {
	font-size: 17px;
	width: 180px;
}

input.numberInput {
	font-size: 17px;
	width: 135px;
}

.logo {
	width: 450px;
	position: relative;
	top: -140px;
	left: 20px;

}

.circle {
	border-style: solid;
	border-width: 3px;
	border-color: rgb(180,180,180);
	border-radius: 50%;
}

.docker {
	position: absolute;
	width:    400px;
}

.buttSlot {
	margin: 15px;
}

.butt {
	display: block;
	font-family:      'Open Sans', sans-serif;
	font-size:        23px;
	font-weight:      lighter;
	width:            350px;
	background-color: rgb(231, 41, 0);/* New Theme */
	color: white;
	padding:          18px;
	margin: 0;
	transition: all .7s;
}

.butt:active {
	background-color: rgb(240, 240, 240);
	transition: all 0s;
}

.menu {
	display:          block;
	position:		  relative;
	height:           400px;
  width: 350px;
	padding:     18px;
	visibility:   visible;
	background-color: rgb(42, 0, 75);/* New Theme */
	transition:       all .7s;
	margin: 			0;
	color: white;
	opacity: 1;

}

.menu div {
/*	display:     inline-block;*/
	transition:  all .7s;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align:  center;
}

.menu.hidden {
	display: block;
	height:           0px;
	visibility:       hidden;
	opacity:          0;
	transition:       all .7s;
	padding-top:      0;
	padding-bottom:   0;
}


.hidden div  ,
.hidden p    ,
.hidden img  ,
.hidden input,
.hidden form {
	height:       0;
	font-size:    0;
	padding:      0;
	border: 0;
	margin: 0;
	transition:   all .7s;
	transition:  all .7s;
}
