.successMessage img,
.failureMessage img {
	width: 130px;
	margin: 15px;
}

.waiterIsComing img {
	width: 150px;
}

.successMessage p,
.failureMessage p,
.areYouSure     p,
.waiterIsComing p {
	color: white;
	font-size: 25px;
	text-align: center;
	margin: 10px;
}

.successMessage,
.failureMessage {
	text-align: center;
}